## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kapaa,US,84.52,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,9,Georgetown,MY,84.13,haze,5.4112,100.3354,Cititel Penang
2,18,Hasaki,JP,81.00,overcast clouds,35.7333,140.8333,Inubosaki Kanko Hotel
3,21,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
4,23,Gull Lake,CA,88.81,clear sky,50.1001,-108.4847,Campbell's Accommodations
...,...,...,...,...,...,...,...,...
248,652,Safaga,EG,84.83,clear sky,26.7292,33.9365,Lamar Resort Abu Soma
249,653,Honiara,SB,88.75,clear sky,-9.4333,159.9500,Heritage Park Hotel
250,654,Dullewala,PK,88.56,clear sky,31.8359,71.4362,Sajid fruit shop
251,655,Matay,EG,77.29,clear sky,28.4190,30.7792,Nag Aespen
252,656,Sioux Lookout,CA,78.87,broken clouds,50.1001,-91.9170,Knobby's Fly-In Camps

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
start_point = "Carlisle"
end_point = "Carlisle"
city1 ="Roma" 
city2 = "Broome"
city3 = "Southbridge"
vacation_start = vacation_df.loc[vacation_df["City"]== start_point]
vacation_end = vacation_df.loc[vacation_df["City"]== end_point]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== city1]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== city2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== city3]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travling_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")

fig.add_layer(travling_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1 ,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,305,Carlisle,US,75.24,moderate rain,40.2015,-77.1889,Fairfield Inn & Suites by Marriott Carlisle
1,27,Roma,US,79.83,clear sky,43.2128,-75.4557,Wingate By Wyndham Rome
2,233,Broome,US,75.58,few clouds,42.2506,-75.8330,Chenango Valley State Park
3,394,Southbridge,US,75.31,overcast clouds,42.0751,-72.0334,Southbridge Hotel & Conference Center

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))