In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2022-07-16 12:35:31,-21.2078,-159.7750,73.45,78,75,13.80
1,1,San Ramon,US,2022-07-16 12:35:31,37.7799,-121.9780,60.51,88,0,4.61
2,2,Ushuaia,AR,2022-07-16 12:31:35,-54.8000,-68.3000,38.86,45,40,13.80
3,3,Guaraciaba Do Norte,BR,2022-07-16 12:35:32,-4.1669,-40.7475,77.61,49,11,7.31
4,4,Comodoro Rivadavia,AR,2022-07-16 12:32:51,-45.8667,-67.5000,26.46,86,0,3.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Guaraciaba Do Norte,BR,2022-07-16 12:35:32,-4.1669,-40.7475,77.61,49,11,7.31
7,7,Ponta Do Sol,PT,2022-07-16 12:35:33,32.6667,-17.1000,81.01,75,0,8.03
10,10,Salalah,OM,2022-07-16 12:35:34,17.0151,54.0924,78.42,92,100,8.93
18,18,Naze,JP,2022-07-16 12:35:38,28.3667,129.4833,79.72,90,100,10.76
21,21,Port Elizabeth,ZA,2022-07-16 12:35:39,-33.9180,25.5701,84.09,38,0,6.91
27,27,Hermanus,ZA,2022-07-16 12:35:42,-34.4187,19.2345,82.80,45,12,2.39
31,31,Atuona,PF,2022-07-16 12:35:44,-9.8000,-139.0333,77.04,75,4,13.33
33,33,Kavieng,PG,2022-07-16 12:35:45,-2.5744,150.7967,82.02,75,6,11.23
35,35,Miguel Alves,BR,2022-07-16 12:35:46,-4.1656,-42.8953,87.87,45,37,5.19
45,45,Bandarbeyla,SO,2022-07-16 12:35:51,9.4942,50.8122,89.83,46,98,30.24

In [12]:
preferred_cities_df.count()

City_ID       228
City          228
Country       223
Date          228
Lat           228
Lng           228
Max Temp      228
Humidity      228
Cloudiness    228
Wind Speed    228
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
3   Guaraciaba Do Norte      BR     77.61  -4.1669  -40.7475
7          Ponta Do Sol      PT     81.01  32.6667  -17.1000
10              Salalah      OM     78.42  17.0151   54.0924
18                 Naze      JP     79.72  28.3667  129.4833
21       Port Elizabeth      ZA     84.09 -33.9180   25.5701
27             Hermanus      ZA     82.80 -34.4187   19.2345
31               Atuona      PF     77.04  -9.8000 -139.0333
33              Kavieng      PG     82.02  -2.5744  150.7967
35         Miguel Alves      BR     87.87  -4.1656  -42.8953
45          Bandarbeyla      SO     89.83   9.4942   50.8122

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [2]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    print(params)
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

NameError: name 'hotel_df' is not defined

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Guaraciaba Do Norte,BR,77.61,-4.1669,-40.7475,Gospel Fazenda Park Hotel
7,Ponta Do Sol,PT,81.01,32.6667,-17.1000,Hotel do Campo
10,Salalah,OM,78.42,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
18,Naze,JP,79.72,28.3667,129.4833,Shishime Hotel
21,Port Elizabeth,ZA,84.09,-33.9180,25.5701,39 On Nile Guest House
27,Hermanus,ZA,82.80,-34.4187,19.2345,Misty Waves Boutique Hotel
31,Atuona,PF,77.04,-9.8000,-139.0333,Villa Enata
33,Kavieng,PG,82.02,-2.5744,150.7967,Nusa Island Retreat
35,Miguel Alves,BR,87.87,-4.1656,-42.8953,PAIN POUSADA E RESTAURANTE
45,Bandarbeyla,SO,89.83,9.4942,50.8122,JABIR HOTEL

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))